body {
    /* text-align: center; */
    font-family: monospace;
}
#parentDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;

}
#child1 {
    border: 1px solid red;
    height: 150px;
    width: 200px;
}
#child2 {
    border: 1px solid red;
    height: 150px;
    width: 200px;
}

@media screen and (max-width: 400px) {
    #parentDiv {
        border: 2px solid springgreen;
    }
}